AlignCombineImagesinDir.py~
DitherAssistant.py~
StarPlot.gnuplot~
StarPlot.py~
TelescopeShift-4OS.py~
TIRSPECdataReduction.py~
TIRSPECscript.conf~
BadPixelMaskCreate.py~
Generate4mRampFaster.py~
Generate4mRampFaster.py-OLDBackup
DownloadFiles2CREST.sh~
TelluricCorrection.py~
TelluricCorrection.pyc
